<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
        res.redirect('/')
    } %>
    <%- messages() %>
    <% if (errors) { %>
        <ul class="warning">
        <% errors.array().forEach(error => { %>
            <li><%= error.msg %></li>
    <%  }) %>
        </ul>
    <% } %>
    <form action="/inv/classification" method="post" class="form">
        <label for="classification_name">New Classification Name</label>
        <input type="text" name="classification_name" id="classificationName" required pattern="[a-zA-Z0-9]+" value="<%= locals.classification_name %>">
        <div><p>Classification name must NOT contains any spaces or special characters.</p></div>
        <button type="submit">Submit</button>
    </form>